.restaurants__heart--hover:hover {
  opacity: 1;
  cursor: pointer;
}

.restaurants__heart:hover {
  opacity: 0;
  cursor: pointer;
}

.restaurants__card:hover {
  transform: scale(1.02);
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main__btn:hover {
  transform: scale(1.05);
}
