.restaurants__heart--hover:hover {
  opacity: 1;
  cursor: pointer;
}

.restaurants__heart:hover {
  opacity: 0;
  cursor: pointer;
}

.restaurants__card:hover {
  transform: scale(1.02);
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main__btn:hover {
  background: $btn-color--hvr;
  box-shadow: 0px 4px 15px 0px #00000059;
}

.menu__btn:hover {
  background: $btn-color--hvr;
  box-shadow: 0px 4px 15px 0px #00000059;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
