.restaurants__heart--hover:hover {
  opacity: 1;
  cursor: pointer;
}

.restaurants__heart:hover {
  opacity: 0;
  cursor: pointer;
}

.menu__body__heart:hover {
  opacity: 0;
  cursor: pointer;
}

.menu__body__heart--hover:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}

.restaurants__card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu__body__cards__card:hover {
  cursor: pointer;

  .menu__body__cards__card__selector {
    width: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear__tick 0.5s;

    &__tick {
      width: auto;
      height: auto;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear__tick {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes showScrollBar {
  to {
    overflow: auto;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
