$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$background-color: rgba(246, 246, 246, 1);
$footer-color: rgba(53, 53, 53, 1);

$btn-color: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
$btn-color--hvr: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
// linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
