@media screen and (min-width: 1025px) {
  .guide {
    padding-bottom: 0;
    &__cards {
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      margin-bottom: 50px;

      &__card {
        flex: 0 0 30%;
      }
    }
  }
}
