@media screen and (min-width: 768px) and (max-width: 1024px) {
  .guide {
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__cards {
      margin: auto;
      margin-bottom: 50px;

      &__card {
        width: 708px;
      }
    }
  }

  .restaurants {
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0 20px 0;
    }

    &__card__anchor {
      width: 708px;
      margin: auto;
    }
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    height: 144px;

    &__title {
      display: flex;
      flex-grow: 1;
      flex-direction: column-reverse;
      align-items: flex-end;
      height: 100%;
      padding-bottom: 8px;
    }

    &__subtitles {
      display: flex;
      align-content: end;
      gap: 30px;
    }
  }

  .menu__body__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
