// EXPLORE
.main__body {
  background-color: $background-color;
}

.explore {
  display: flex;
  flex-direction: column;
  padding: 39px 26px 57px 34px;
  gap: 30px;
  transition: 0.5s;

  &__maintext__container {
    display: flex;
    justify-content: center;

    &__text {
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
  &__secondarytext__container {
    display: flex;
    justify-content: center;

    &__text {
      font-size: 18px;
      font-weight: 100;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
}

.guide {
  background-color: white;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 35px;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 50px;
  }
}

.guide__cards {
  margin-bottom: 50px;

  &__card {
    padding-right: 24px;
    height: 72.38px;
    margin-bottom: 25px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    background-color: $background-color;

    &__content {
      display: flex;
      align-items: center;

      &__text {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    svg {
      margin: 24px 24px 24px 33px;
    }
  }
}

.circle {
  margin-left: -15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: $primary-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

// RESTAURANTS

#restaurants {
  padding: 0 20px;
}

.restaurants {
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin: 54px 60px 20px 0;
    transition: 0.3s;
  }

  &__cards {
    margin-bottom: 66px;
    display: flex;
    flex-flow: wrap;
    gap: 18px;
  }

  &__card {
    height: 250px;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;

    &__anchor {
      width: 100%;
    }

    &__content {
      padding: 16px 60px 0 13px;
      display: flex;
      justify-content: space-between;
      position: relative;
      // border: solid;
    }

    &__title {
      font-size: 18px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 5px;
    }

    &__subtitle {
      font-size: 17px;
      font-weight: 300;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
    }

    &__img {
      height: 70%;
      width: 100%;
      border-radius: 15px 15px 0 0;
      object-fit: cover;
    }
  }
}

.kitchen_west__link {
  width: auto;
  height: auto;
}

.restaurants__card__new__container {
  position: absolute;
  width: 80px;
  right: 15px;
  top: 15px;
  padding: 7px 9px;
  border-radius: 2px;
  background-color: rgba(153, 226, 208, 1);
  &__text {
    color: rgba(0, 135, 102, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.restaurants__heart {
  position: absolute;
  right: 30px;
  top: 20px;
  opacity: 1;
  transition: 0.3s;
  &--hover {
    position: absolute;
    right: 30px;
    top: 20px;
    opacity: 0;
    transition: 0.3s;
  }
}
